<html>
    <head>
        <meta  charset="UTF-8"/>
        <title>
            {% block title %}
                Modules
            {% endblock %}
        </title>
        {% block %}
            <link reel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
    </head>
    <body>
        <h1> Les  Modules de Tek-Up</h1>
    {% block body %}


    {% endblock %}
    </body>
</html>